// footer
footer.footer
  .container 
    .footer__container 
      .footer__content 
        h2.footer__title Свяжитесь с нами
        p.footer__text Напишите нам вопрос и мы ответим
      ul.footer__contact 
        li.footer__contact-item 
          a(href="mailto:help@redcat-toy.ru").footer__contact-link help@redcat-toy.ru
        li.footer__contact-item 
          a(href="tel:88632040125").footer__contact-link.footer__contact-link--bold 8(863)204-01-25
        li.footer__contact-item 
          p.footer__contact-text 34620, Ростовская область, г.Аксай
          p.footer__contact-text ул. Шолохова, 1Б, оф.9
          p.footer__contact-text Пн-Пт с 9.00 до 18.00
//	/footer