// header
header.header
  .container  
    .header__logo 
      a(href="https://redcat-toys.ru/ " target="_blank").header__logo-1
        img(src="img/logo-cat.svg", alt="")
      a(href="https://selfie.redcat-toys.ru/ " target="_blank").header__logo-2
        img(src="img/logo-selfie.svg", alt="")
//	/header