extends core/base.pug

block title 
  title Пароль

block content

  .page 

    include core/header.pug

    .content 

      //- // breadcrumbs
      //- .breadcrumbs
      //-   .container 
      //-     ul.breadcrumbs__list 
      //-       li.breadcrumbs__item 
      //-         a(href="index.html").breadcrumbs__link Главная
      //-       li.breadcrumbs__item 
      //-         span.breadcrumbs__span Получить инструкцию
      //- // /breadcrumbs

      //- // password
      //- .password
        
      //-   .container 



      //- // /password

    include core/footer.pug
